@model Internship.Models.Appointment

@{
    ViewBag.Title = "Form Tiếp Nhận";
}
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi" xml:lang="vi">

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/customs.css" rel="stylesheet">
</head>

<body>
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <div class="main-page-title">
                <div>
                    <p>Đăng Ký Khám</p>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center p-2">
                <span class="me-2">Xin chào,</span>
                <strong>@(User.Identity?.Name ?? "Người dùng")</strong>
            </div>
        </header>

        <main id="main">
            <div class="row justify-content-center m-0 p-0">
                <section id="contact" class="contact card card-content shadow-xl">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mt-12 mt-lg-0 d-flex align-items-stretch">
                                <form asp-action="Index" method="post" enctype="multipart/form-data" class="php-email-form">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label >Mã Hồ Sơ (nếu có)</label>
                                            <input id="MaHoSo" name="AppointmentId" type="text"
                                                    class="form-control input-uppercase" placeholder="CH210000000" maxlength="11"
                                                    asp-for="AppointmentId"/>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="ClinicId">Phòng Khám</label>
                                            <select id="selectClinic" name="ClinicId"
                                                    class="form-select" data-window-padding="bottom"
                                                    data-live-search="false" title="Vui lòng chọn" data-size="4"
                                                    asp-for="ClinicId"></select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="AppointmentTime">Giờ Khám</label>
                                            <select id="selectAppointmentTime" name="AppointmentTime"
                                                    class="form-select" data-window-padding="bottom"
                                                    data-live-search="false" title="Vui lòng chọn" data-size="4"
                                                    asp-for="AppointmentTime"></select>
                                        </div>
                                        <script>
                                            $(document).ready(function() {
                                                $.getJSON('/Home/GetClinics', {}, function(data) {
                                                    $('selectClinc').empty().append('<option value="">Vui lòng chọn</option>');
                                                    $.each(data, function(i, clinic) {
                                                        $('#selectClinic').append($('<option>', {
                                                            value: clinic.clinicId,
                                                            text: clinic.name
                                                        }));
                                                    });
                                                });
                                                $.getJSON('/Home/GetAppointmentTimes', {}, function(data) {
                                                    $('selectAppointmentTime').empty().append('<option value="">Vui lòng chọn</option>');
                                                    $.each(data, function(i, appointmentTime) {
                                                        $('#selectAppointmentTime').append($('<option>', {
                                                            value: appointmentTime.appointmentTime,
                                                            text: appointmentTime.appointmentTime + ':00'
                                                        }));
                                                    });
                                                });
                                            })
                                        </script>
                                    </div>
                                    <div class="text-center d-flex align-content-center justify-content-center flex-wrap">
                                        <button type="submit" class="btn btn-primary m-1">Đăng Kí</button>
                                        <button type="button" class="btn btn-secondary btnCancel m-1" id="btnCancel">Làm mới</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>

</html>
